.Side_bar
  .Side_bar__user_name
    .top_items
      .top_items__name
        さわつ きみひこ
      .top_items__icon
        =link_to "#", class: "edit-btn" do
          = icon('fas', 'edit')
        =link_to "#", class: "cog-btn" do
          = icon('fas', 'cog')
  .Side_bar__group_list
    .top_message
      .top_message__group
        techcamp
      .top_message__text
      